@charset "utf-8";
/* CSS Document */
*{ padding:0;margin:0;list-style:none;}
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, img, div, dl, dt, dd, blockquote{ border:none 0; }
table,td{margin:auto;padding:inherit;}
select, input, img{ vertical-align:middle;}
a{ text-decoration:none;}
a:link {color:#666;}
a:visited{ color:#666;}
a:hover,a:active, a:focus {color:#999; text-decoration:underline;}
body {
	font-family: "宋体","MingLiu","Lucida Sans Unicode", "Lucida Grande", "sans-serif",;
	font-size: 12px;
	line-height:160%;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	color: #666;
	text-decoration: none;
	background-color: #f5f5f5;
	background-image: none;
	background-repeat: no-repeat;
	letter-spacing: normal;
	text-align: left;
	word-spacing: normal;
	white-space: normal;
	display: block;
	clear: both;
	float: none;
	width: auto;
	position: static;
	height: auto;
	top: auto;
	clip: rect(auto,auto,auto,auto);
}
.clear{ clear:both;}
.b{ font-weight:bold;}
.bg{ float:left; width:100%; background:url(../images/hsrw/bg.jpg) no-repeat center 15px #c00; padding-top:15px;}
.main{ width:1000px; margin:auto;}
.header{ float:left; width:1000px; height:342px;}
.content1{ float:left; width:100%; background:#c00;}
.content_d{ width:1000px; margin:auto;}
.content_t{ float:left; margin:25px auto auto 80px; display:inline;}
.content_text{ float:left; color:#fff; margin:20px auto auto 140px; display:inline; line-height:24px; width:780px; padding-bottom:20px;}
.content2{ float:left; width:100%; background:#594e88; padding-bottom:20px;}
.content_list{ float:left; width:762px; margin:30px auto auto 119px; display:inline;}
.content_list a{ color:#fff;}
.content_list a:hover{ color:#f2f2f2;}
.content_list ul{ float:left; width:100%;}
.content_list li{ float:left; width:246px; margin:4px;}
.c_list_thumb{ float:left; width:246px;}
.c_list_thumb img{ width:246px; height:164px;}
.c_list_desc{ float:left; color:#fff; width:246px; background:#8ab312; height:140px; overflow:hidden;}
.c_list_desc.i1{ background:#f8428b;}
.c_list_desc.i2{ background:#36a3d9;}
.c_list_desc.i3{ background:#9c82cf;}
.c_list_desc.i4{ background:#735658;}
.c_list_desc.i5{ background:#a48861;}
.c_list_title{ float:left; font-size:14px; width:246px; text-align:center; margin-top:10px;}
.c_list_text{ float:left; width:216px; margin:10px auto auto 15px; display:inline;}
.footer{ float:left; width:100%; background:#fff; padding-top:10px; padding-bottom:10px;}
.c_footer{ width:1000px; margin:auto;}
.c_footercon{ float:left; width:1000px; color:#333; padding-bottom:5px; padding-top:20px;}
.footer_icp{ float:left; width:830px;}
.footer_code{ float:right; width:150px;}
.footer_code img{ width:60px; height:60px; border:3px solid #fff;}
.c_footercon1{  width:980px; color:#333; margin:auto;}
.footer_icp1{ float:left; width:810px;text-align:center;}