@charset "utf-8";
/* CSS Document */
*{ padding:0;margin:0;list-style:none;}
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, img, div, dl, dt, dd, blockquote{ border:none 0; }
table,td{margin:auto;padding:inherit;}
select, input, img{ vertical-align:middle;}
a{ text-decoration:none;}
a:link {color:#666;}
a:visited{ color:#666;}
a:hover,a:active, a:focus {color:#999; text-decoration:underline;}
body {
	font-family: "宋体","MingLiu","Lucida Sans Unicode", "Lucida Grande", "sans-serif",;
	font-size: 12px;
	line-height:160%;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	color: #666;
	text-decoration: none;
	background-color: #f5f5f5;
	background-image: none;
	background-repeat: no-repeat;
	letter-spacing: normal;
	text-align: left;
	word-spacing: normal;
	white-space: normal;
	display: block;
	clear: both;
	float: none;
	width: auto;
	position: static;
	height: auto;
	top: auto;
	clip: rect(auto,auto,auto,auto);
}
.clear{ clear:both;}
.f_14{ font-size:14px;}
.f_18{ font-size:18px;}
.mt_20{ margin-top:20px;}
.b{ font-weight:bold;}
.red{ color:#c11920;}

.bg{ float:left; width:100%; background:url(../images/njgc/bg_top.jpg) no-repeat center top #f5f5f5;}
.main{ width:1000px; margin:auto;}
.header{ float:left; width:1000px; height:361px;}
.content{ float:left; width:1000px; background:#fff;}
.c_desc{ float:left; width:100%; background:#fff; padding:30px 0;}
.c_title{ float:left; width:1000px; text-align:center;}
.c_text{ float:left; width:850px; margin-left:75px; display:inline; text-indent:30px; font-family:"微软雅黑"; line-height:24px;}
.c_list{ float:left; margin:20px auto auto 2px; display:inline; width:998px;}
.c_list ul{ float:left; width:100%;}
.c_list li{ float:left; width:183px; margin:10px 8px; display:inline;}
.c_list_pic{ float:left; width:183px;}
.c_list_pic img{ width:183px; height:183px;}
.c_list_text{ float:left; width:171px; border-bottom:1px solid #e2e2e2; border-left:1px solid #e2e2e2; border-right:1px solid #e2e2e2; padding:5px;}
.c_list_title{ float:left; line-height:26px;}
.c_list_vote{ float:right; background:#ef666f; width:60px; height:26px; line-height:26px; text-align:center;}
.c_list_vote a{ color:#fff; width:60px; height:26px; display:block;}
.c_list_vote a:hover{ text-decoration:none; color:#fff;}
.footer{ float:left; width:100%; background:#fff; padding-top:10px; padding-bottom:10px;}
.c_footer{ width:1000px; margin:auto;}
.c_footercon{ float:left; width:1000px; color:#333; padding-bottom:5px; padding-top:20px;}
.footer_icp{ float:left; width:830px;}
.footer_code{ float:right; width:150px;}
.footer_code img{ width:60px; height:60px; border:3px solid #fff;}
.c_footercon1{  width:980px; color:#333; margin:auto;}
.footer_icp1{ float:left; width:810px;text-align:center;}


