<!--
Created by huqiwen on 16/9/6
describe : 最美校园
-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="__PUBLIC__/puvote/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/puvote/common/css/reset.min.css" rel="stylesheet">
    <link href="__PUBLIC__/puvote/common/css/style.css" rel="stylesheet">
    <title>{$vote.name}</title>
</head>
<body>
<div id="beautiful" v-cloak data-list="{:U('Pufinance/PuVote/lists')}&vote_id={$vote.id}" data-info="{:U('Pufinance/PuVote/stat')}&vote_id={$vote.id}">
    <img src="<?=PIC_URL?>/data/uploads/{$vote.icon}">
    <eq name="client" value="app">
        <img onclick="share();" src="__PUBLIC__/puvote/common/images/shared.png" />
    </eq>
    <p class="tit">{$vote.name}</p>
    <nav>
        <div>
            <p>参与选手</p>

            <p v-text="info.items"></p>
        </div>
        <div>
            <p>投票总数</p>

            <p v-text="info.votes"></p>
        </div>
        <div>
            <p>浏览量</p>

            <p  v-text="info.pv"></p>
        </div>
    </nav>
    <div class="time">
        <p class="titC"><img src="__PUBLIC__/puvote/common/images/t1.png"></p>

        <!--<p class="start">报名时间&emsp13;:&emsp13;{$vote.stime|date='Y.m.d H:i', ###}-2016.11.28 12:00</p>-->

        <p class="end">投票时间&emsp13;:&emsp13;{$vote.stime|date='Y.m.d H:i', ###}-{$vote.etime|date='Y.m.d H:i', ###}</p>

    </div>

    <div class="rule">
        <p class="titC"><img src="__PUBLIC__/puvote/common/images/t2.png"></p>
        <ul>
            <li>PU登录用户（含APP和微信）每人每天可投十票，票不可重复投给同一位选手，且必须投完，票数才会生效；</li>
            <li>非PU登录用户（微信端）每人每天可投一票；</li>
            <li>PU在法律允许的条件下保留最终解释权。</li>

        </ul>
        <footer>
            <if condition="$myItem">
                <if condition="$myItem['status'] == 0">
                    <button disabled>审核中</button>
                    <else />
                    <button disabled>我的编号： {$myItem.id}</button>

                </if>
            </if>
        </footer>
    </div>
    <!--<div class="inc">
        <p class="titC"><img src="common/images/t3.png"></p>
        <article>
 本次最美校园主题为推广各校校园风景文化。本着自主报名的机制，评选出PU口袋校园“2016江苏省十佳最美校园”。活动前期面向江苏省100所高校进行征集，最终有28所高校进入决赛。
    通过“最美校园”的评比，旨在开展党的群众路线教育实践活动，培育和弘扬社会主义核心价值观。促进校园环境与人的和谐发展，强化环境育人，打造精品学校。同时丰富大学生“第二课堂”内容，培养当代大学生的学校归属感和荣誉感。
        </article>
        <!--<footer class="titC">查看更多</footer>-->
    <!--</div>-->
    <!--搜索-->
    <div class="L-search">
        <p class="h_index_input">
            <input id="searchInput" @focus="getFocus"
                   data-url="{:U('Pufinance/PuVote/search')}&vote_id={$vote.id}"
                   @keyup.enter="SearchEnter"
                   placeholder="请输入选手编号或姓名"
                   v-model="inputValue">
        </p>
        <p class="h_index_clear" @click="clear">
            <span></span>
        </p>
        <p class="h_index_btn">
            <button @click="SearchEnter" data-url="{:U('Pufinance/PuVote/search')}&vote_id={$vote.id}">搜索</button>
        </p>
    </div>

    <div class="indexSchool">
        <ul class="indexUl clearfix">
            <li v-for="item in items" data-url="{:U('Pufinance/PuVote/item')}&vote_id={$vote.id}&item_id={{item.id}}">
                <img :src="item.cover" @click="goItem" />
                <p class="jonnerNum" v-text="item.id" @click="goItem"></p>
                <p class="school" v-text="item.name" @click="goItem"></p>
                <p class="school" v-text="item.school" @click="goItem"></p>
                <p class="point" @click="goItem">{{item.votes}}票</p>
                <button  @click="vote(item.id, $event)" data-url="{:U('Pufinance/PuVote/vote')}&vote_id={$vote.id}">投票</button>
            </li>
        </ul>
        <div class="index_loading_flag"></div>
    </div>
    <!--投票提示-->
    <div class="modal fade" id="tips">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--二维码-->
                <div class="two">
                    <span class="sClose">
                    </span>
                    <img src="__PUBLIC__/puvote/common/images/two.png">
                    <p>长按扫我关注参与投票</p>
                </div>
                <!--成功-->
                <div class="success">
                    <p>投票成功</p>
                </div>
                <!--false-->
                <div class="error" >
                </div>
            </div>
        </div>
    </div>
    <!--关注提示-->
    <div class="modal fade" id="Followtips">
        <div class="modal-dialog">
            <div class="modal-content">
                提示提示提示提示提示提示提示
            </div>
        </div>
    </div>

    <include file="./footer" />
</div>
<!--loading-->
<div class="loading-baground" id="loading">
    <div class="h-loading">
        <div class="h-animate">
        </div>
    </div>
</div>
</body>
<script src="__PUBLIC__/puvote/bower_components/requirejs/require.js" data-main="__PUBLIC__/puvote/common/js/index"></script>
<script src="../Public/js/mainScript.js"></script>
<eq name="client" value="app">
<script>
    setActionBar('{$vote.name}', '', '');
        function share() {
            Android.share("{$vote.name} {:U('Pufinance/PuVote/index')}&vote_id={$vote.id}", "{$vote.name}", "{:U('Pufinance/PuVote/index')}&vote_id={$vote.id}", "<?=SITE_URL?>/public/puvote/common/images/share.jpeg");
        }
    </script>
</eq>
</html>
