<!--
Created by lisha on 16/11/15
describe : 实时排名
-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="__PUBLIC__/puvote/common/css/reset.min.css" rel="stylesheet">
    <link href="__PUBLIC__/puvote/common/css/style.css" rel="stylesheet">
    <title>实时排名</title>
    <style>
        html,body{
            height: 100%;
        }
    </style>
</head>
<body>
<div id="list" v-cloak
     data-list="{:U('Pufinance/PuVote/lists')}&order=1&vote_id={$vote.id}"
     data-stime="{$vote.stime|date='Y/m/d H:i:s', ###}"
     data-etime="{$vote.etime|date='Y/m/d H:i:s', ###}"
>
    <div class="listRank" v-if="start">
        <header>
            <img src="__PUBLIC__/puvote/3/img/top.jpg">
            <div class="on" v-if="on">
                <if condition="$rank">
                    <p>我的排名：<span>{$rank.rank}</span></p>
                </if>

                <p style="color: #fff;">更新截止时间{:date('Y/m/d H:i')}</p>
            </div>
            <div class="over" v-if="over">
                <p>活动已结束</p>
            </div>
        </header>
        <ul class="listUl">
            <li v-for="r in rank">
                <p v-text="$index + 1"></p>
                <p v-text="r.name"></p>
                <p v-text="r.votes">888票</p>
            </li>
        </ul>
        <div class="index_loading_flag"></div>
    </div>
    <div class="unStart"  v-if="!start">
        <div>
            <p>活动即将开始</p>
            <p>活动将于2018年12月20日&emsp13;20:00</p>
        </div>
    </div>
</div>
</body>
<script src="__PUBLIC__/puvote/bower_components/requirejs/require.js" data-main="__PUBLIC__/puvote/common/js/top"></script>

</html>
